*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

 
.logo{
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}
 
 
 
.menu a{
    color:white;
    transition:all 0.5s;
    font-size: 17px;
    padding: 10px;
    transition:all 0.5s;
    text-decoration: none;
}
.seleccionado {
    background: tomato !important;
    color: #fff !important;
}
.definicion{
    width: 500px;
}
 
.section{
display: flex;
justify-content: center;
flex-direction: column;
}
.section1{
    margin: 20px;
    display: flex;
    justify-content: center;
     
    flex-wrap: wrap;
    }
    .section1 h1{
        max-width: 100%;
        line-height: 2;
        text-align: center;
    }
    .section1 p{
        max-width: 100%;
        text-align: left;
    }
    .section1 div{
        max-width: 100%;
        margin-left: 20px;
    }
    .section1 img{
        width: 500px;
        max-width: 100%;
       
    }
.album{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.images{
    padding: 5px;
    cursor:pointer;
    transition: all 0.5s;
}
.images img{
    width: 400px;
    height: 220px;
    
}
.images:hover{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.videos{
    padding: 5px;
    cursor:pointer;
    transition: all 0.5s;
}
 
.tsec{
    margin:20px;
    text-align:center;
}

.menu {
    display: flex;
}
nav ul {
    list-style: none;
    padding: 5px;
    color: #fff;
    background: black;
}
.menu li {
    /*position: relative;*/
    width: 100%;
    text-align: center;
}

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #cb3529;
    height: 25px;
    text-decoration: none;
}

.dropdown li {
    display: none;
}
.menu li:hover .dropdown li {
    display: block;
}
.menu a:hover {
    background: tomato;
    color: #fff;

}

@media (max-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }
}
